<!DOCTYPE html>
<html>
<head>
	<title>Gallery</title>
	<style type="text/css">
		.gallery {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
			grid-gap: 10px;
			align-items: center;
			justify-items: center;
			padding: 10px;
		}

		.gallery img {
			max-width: 100%;
			height: auto;
			display: block;
			margin: auto;
			border-radius: 10px;
		}

		.gallery figcaption {
			font-size: 16px;
			font-weight: bold;
			margin-top: 10px;
			text-align: center;
		}
	</style>
</head>
<body>
	<div class="gallery">
		{% for image in site.static_files %}
			{% if image.path contains 'gallery/' %}
				<figure>
					<img src="{{ site.baseurl }}/{{ image.path }}" alt="{{ image.name }}">
					<figcaption>{{ image.name }}</figcaption>
				</figure>
			{% endif %}
		{% endfor %}
	</div>
</body>
</html>